__pycache__/
.venv*/
venv*/
.pytest_cache/
dist/
.DS_Store
*.egg-info
*test.py
.coverage
astrocartography_description.md
astrocartography_lines.geojson
astrocartography_lines.csv
astrocartography_highlighted_cities.png
astrocartography_chart.json
astrocartography_basic_worldmap.png
astrocartography_worldmap.png
astrocartography_aspect_lines.png
astrocartography_worldmap.png
asc_desc_test.png
astrocartography_asc_aspect_lines.png
astrocartography_mc_aspect_lines.png
